@import '../../main-styles.scss';

.main-section {
    height: 100%;
    margin-bottom:1rem;
    font-family: 'Open Sans' Arial;
    font-size:1.6rem;

    .card {
        -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    }

    .button-group {
        float: right;
    }

    .add-sub-button {
        margin-right: 1rem;
        padding:.1rem .6rem;
    }

   .delete-button {
        padding:.1rem .6rem;
        margin-right: 1.5rem;
   }

    .header {
        margin-bottom:1rem;
        border-bottom: 1px solid $border-color;
        width: 100%;
        display: flex;
        flex-direction: column;
        .header-title {
            width: 100%;
            background-color:$blue-primary;
            color:$white;
            p {
                text-align: center;
                padding:1rem;
                width: 100%;
                
            }
        }

        .header-actions {
            display: flex;
            width: 100%;
            justify-content: flex-end;

            .add-button {
                font-family: 'Open Sans' Arial;
                height: 3.4rem;
                max-width: 14rem;
                color:white;
                font-size:1.3rem;
            }
        }

       
       
    }

    .sub-item-section {
        padding:.3rem 0 0 .1rem;

    }

}