@import '../../main-styles.scss';


.login-section {
    height: 32rem;
    width: 30rem;
    font-size:1.3rem;

    .login-title {
        padding:2rem 0;
        border-bottom: solid 0.1rem $blue-secondary;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;

        h2 {
           
            //margin-bottom:2rem;
            color:$blue-primary;
            font-size:1.7rem;
        }
    }

    .form-section {
        form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            height: 100%;
            padding-top:3rem;

            color:$blue-primary;
         

            mat-form-field {
                width:22rem;
                
                mat-label {
                   color:$blue-primary;
                    span {
                        width:2rem;
                        padding:1rem;
                        margin-right:1rem;
                    }
                }
                
            }

            button {
                margin-top:1.5rem;
            }
        }
    }
}