@import '../../../main-styles.scss';

form {
    padding:2rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 0;
    width: 100%;
    font-family: 'Open Sans' Arial;

    .card {
        -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        padding:3rem 2rem 2rem 2rem;
    }


    .main-form-group {
        width: 30rem;
        height: 36rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        h2 {
            width: 100%;
            font-size: 1.7rem;
            font-family: 'Open Sans' Arial;
            font-weight: 500;
            text-align: center;
            padding-bottom:2rem;
            border-bottom:1px solid $border-color;
        }
        .input-container {
            margin:1.2rem 0;
            
            .mat-form-field {
                font-size:1.3rem;
                width: 100%;
                height: 5.2rem;
                
                .mat-form-field-wrapper {
                    height: 3rem;
                    margin-bottom: 1.2rem;
                }
            }
        }
      

        .add-button {
            margin-left:1rem;
            padding:.2rem .5rem;

        }

        .buttons {
            margin-top:.4rem;
            button {
                font-size:1.2rem;
                padding:.2rem .5rem;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

       
        
    }

    .sub-form-wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
       
        .form-container {
            display: flex;
            width: 100%;
            .mat-form-field {
                width: 100%;
            }

            .add-button {
                margin-top: .2rem;
                margin-left:1rem;
                padding:.2rem 2rem;
                height: 2.6rem;
                align-self: center;
            }

        }
        .selected-items {
            border: 1px solid $border-color;
            width: 100%;
            padding:1rem 2rem;

            .delete-button {
                padding:.2rem .5rem;
                float: right;
            }
        }

        .buttons {
            margin-top:1rem;
            button {
                font-size:1.2rem;
                padding:.2rem .5rem;
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }   
    
}