/* You can add global styles to this file, and also import other style files */

@import './main-styles.scss';
html { height: 100%;   font-size: 62.5%; } //1 rem = 10px; 10px/16px = 62.5% 
body {  box-sizing: border-box;
    font-family: 'Open Sans' , Arial, Helvetica, sans-serif;
    font-size:1.8rem; }
